body{
	background-color: #fff;
	font-family: 'Droid Serif', sans-serif;
	
}

.primary_menu {
	box-sizing : border-box;
}

.primary_menu ul {
	margin-top: 40px;
	float : right;
	padding-right: 180px;
}

.primary_menu li {
	display: inline;
	margin-left: 0px;
	margin-right: 25px;
}

.primary_menu a{
	color: #444;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.primary_menu li a , .title li a{
	text-decoration: none;
}

.primary_menu li a:hover ,  .title li a:hover{
	text-decoration: none;
	color: #1abc9c;
}


.footer{
	padding: 60px 0;
}

.footer span{
	text-transform: uppercase;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: 20px;
}
.footer .company_name{
	color:#003366;
	font-weight: bold;
	font-size: 27px;
	margin: 0px;
	text-shadow : 1px 2px 2px #66ff33;
}
.footer li a , .footer p{
	text-decoration: none;
	margin: 10px 0;
	color: #6d6e71;
	
	font-size: 15px;
	
	letter-spacing: 0.5px;
}

.footer ul{
	margin-left: 0px;
	margin-top: 20px;
}
.footer li{
	list-style: none;
	margin-left: 0px;
	line-height: 25px;
}

.footer-social{
	padding-top: 30px;
}
.footer-social a{
	text-decoration: none;
}
