
body{
	background-color: #fff;
	font-family: 'Droid Serif', sans-serif; /* using custom font form custom-font.css */
}

/********************* Header style starts ****************/
.primary_menu {
	box-sizing : border-box;
}

.primary_menu ul {
	margin-top: 40px;
	float : right;
	padding-right: 0;
	margin-right: 0;
}

.primary_menu li {
	display: inline;
	margin-left: 0;
	margin-right: 25px;
}

 .strap li{
	display: inline;
	margin-left: 0;
	margin-right: 25px;
}

.primary_menu a{
	color: #444;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase; /* for transforming text to uppercase */
}

.primary_menu li a , .title li a , .strap li a{
	text-decoration: none;
}

.primary_menu li a:hover ,  .title li a:hover{
	text-decoration: none;
	color: #1abc9c;
}

/********************* Header style ends ****************/
.title {
	padding: 30px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

.title .container {
    position: relative;
    padding-left: 200px;
}

.title h1 , .third_container h1{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 28px;
	font-family: Lato, sans-serif;
}

.title span , .third_container span{
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: #777;
    font-size: 18px;
    letter-spacing : 1px;
}

.title li{
	text-decoration: none;
	display: inline;
}

.title li a{
	color : #333;
}

/************* Sub menu style starts ********************/
 .breadcrum{
 	position: absolute!important;
    top: 50%!important;
    left: auto!important;
    right: 210px!important;
    margin: -10px 0 0!important;
    background-color: transparent!important;
    padding: 0!important;
    font-size: 12px;
 }

 .breadcrum li {
 	margin-left: 0;
 	font-size: 12px;
 }

 .breadcrum li:after{
	content: "/";
	color: #666;
	padding: 0 5px;
 }

 .breadcrum li:last-child:after {
	content: none;
}

/************* Sub menu style end ********************/

.first_container{
	padding-top : 50px;
}
.first_container h3 {
	margin: 5px 0;
	
}
.first_container span{
	font-size: 16px;
	font-weight: 300;
	height: 24px;
	letter-spacing: 1px;
	line-height: 24px;
}

.first_container p{
	margin: 10px 0;
	color: #777;
}
.first_container section{
	box-sizing : border-box;
	padding: 0 5px;
}

.second_container{
	background-color: #F5F5F5;
	position: relative;
	margin: 50px 0;
	padding: 30px 5px;
}

.heading h3{
	font-size: 30px;
	margin-bottom: 0;
	text-transform: uppercase;;
	font-weight: bold;
	letter-spacing: 2px;
}

.heading span{
	max-width: 200px;
}

.heading {
	text-align: center;
	padding: 20px 0;
}

.col_full{
	margin: 10px 0;
	text-align: center;
	width:100%;
}

.col_full img{
	margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.second_container .section {
	margin: 20px auto;
}

.second_container .section h3{
	letter-spacing: 2px;
	text-transform: uppercase;
}

.second_container span{
	color: #777;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.second_container p{
	color: #777;
}

.third_container {
	margin: 50px 0;
}

.third_container img{
	vertical-align: middle;
}
.third_container p{
	margin-top: 20px;
    line-height: 25px;
    font-size: 15px;
}

.third_container a {
	color: #1abc9c;
	text-decoration: none;
}
.third_container a:hover {
	color: black;
}

/***** styling for horizontal line ****/
hr{
	margin: 50px 0;
	clear: both;
}

.full_button {
	text-decoration: none;
	font-size: 25px;
	color : white;
	letter-spacing: 1px;
}

.helper_container {
	background-color: #1abc9c;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

/*************** Footer style starts ****************/
.footer{
	padding: 20px 0;
	background-color: #e5e5a8;
}

.footer span{
	text-transform: uppercase;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}
.footer .company_name{
	color:#003366;
	font-weight: bold;
	font-size: 27px;
	margin: 0;
	text-shadow : 1px 2px 2px #66ff33;
}

.footer ul{
	margin-left: 0;
	margin-top: 15px;
}
.footer li{
	list-style: none;
	margin-left: 0;
	line-height: 22px;
}

.footer li a , .footer p{
	text-decoration: none;
	margin: 10px 0;
	color: #6d6e71;
	font-size: 14px;
	letter-spacing: 0.5px;
}

.footer li a:hover{
	color: #1abc9c;
}

.footer-social{
	padding-top: 10px;
}
.footer-social a{
	text-decoration: none;
	margin-right: 5px;
}

/*************** Footer style ends ****************/

/*************** Service page style ***************/
.strap{
	background-color: #1abc9c;
}

.strap span{
	color: white;
	padding-left:190px;
	font-size: 20px;
	padding-top: 15px;
	letter-spacing: 1px;
}

.strap ul{
	margin-top: 10px;
	padding-top: 10px;
	float: right;
	padding-right: 180px;
}

.strap li a{
	color:white;
	font-size: 15px;
	border-radius: 20px;
	padding:6px;
	transition: background-color 0.5s ease;
}

.strap li:hover a{
	background-color: rgba(0,0,0,.20);
}

/************ Portfolio Filter start ****************/

.portfolio-filter-container{
	padding-left: 190px;
	margin: 20px 0;
}

.portfolio-filter{
	margin-top:30px;
	list-style: none;
    float: left;
    border-radius: 4px;
    padding : 10px;
    border: 1px solid rgba(0,0,0,.09); /* for bringing border across filters */
}

.portfolio-filter li{
	list-style: none;
	display: inline;
	margin-left: 0;
	padding: 13px;
	border-color: #666;
	border-right: 1px solid rgba(0,0,0,.09); 
}

.portfolio-filter li:last-child{
	border-right: 0; /* To skip border line for last li element in filter */
}

.portfolio-filter li a{
	text-decoration: none;
	font-size: 15px;
	color: black;
}

.portfolio-filter li a:hover{
	color: #1abc9c;
}

.portfolio section {
	padding: 40px 0;
}

.portfolio h3{
	margin: 10px 0;
}
.portfolio span{
	color : #777;
	font-size: 13px;
}
